{% extends 'base.html.twig' %}

{% block title %}New RepetitionMaximum{% endblock %}

{% block body %}
    <h1>Create new RepetitionMaximum</h1>

    {{ include('repetition_maximum/_form.html.twig') }}

    <a href="{{ path('repetition_maximum_index') }}">back to list</a>
{% endblock %}