{% extends 'base.html.twig' %}

{% block title %}List Exercise{% endblock %}

{% block body %}
        <dash-board></dash-board>

    {#<div class="container is-fluid">
        <div class="text-center">
            <h3>Listado de Ejercicios TWIG + Bootstrap4</h3>
            {% for exercise in exercises %}
            <div class="card">
                <div class="card-body">
                    {{ exercise.name }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>#}
{% endblock %}