{% extends 'base.html.twig' %}

{% block title %}Show Exercise{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="text-center">
        <div class="jumbotron text-center">
            {{ exercise.name }}
        </div>
    </div>
</div>
{% endblock %}